
<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<br>
<ul>
    <% results.forEach(function(post) {%>
        
          
           <img src= '<%= post.postedBy.profileImageUrl %>' width="80" height="80" style="float:left; padding: 15px;">
                <h3> <%= post.message %></h3>
                <h4> by <%= post.postedBy.name %> </h4>
              <p> Post created on  <%= post.createdAt %> </p>
                               
         <img src='<%= post.imageUrl %>' value = "Image" style="padding: 10px;" >
         <form method="post" action="/posts/<%= post.id %>/like/">
            <button type="submit">Like</button>
        </form>
        <form method="post" action="/posts/<%= post.id %>/dislike/">
            
            <button type="submit">Dislike</button>
        </form>
        
        <%if (post.likedBy) { %>
            <p>  <%=post.likedBy.length %> likes. </p>
        
        <% } %>
        <%if (post.likedBy==null) { %>
            <p>  No likes. </p>
            <% } %>  
        
        <%if (post.dislikedBy) { %>
            <p>  <%=post.dislikedBy.length %> dislikes. </p>
            
        <% } %>

        <%if (post.dislikedBy==null) { %>
            <p>  No dislikes. </p>
     
        <% } %>   

         
          <br>
        
    <% }); %>
    </ul>

    <%if (next) { %>
        <a href="<%= next %>">Next</a>
    <% } %>
    <%if (previous) { %>
        <a href="<%= previous %>">Previous</a>
    <% } %>


</body>
<%- include('_footer') -%>
</html>